{% extends 'base.html' %}

{% block title %}
    CASE-X - о нас
{% endblock %}

{% block main %}
    <main class="main">
        <h1 class="title_page">Страница о нас</h1>
        <p class="description">Этот текст был придуман мной, не сомневайтесь, что я герой. Этот текст был придуман мной, не сомневайтесь, что я герой.</p>
        <video></video>
        <audio></audio>
        <div class="card">
            <div class="card_title">
                <h3>Карточка 1</h3>
            </div>
            <div class="card_description">
                <p class="descr_el">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolores? Quam mollitia in cumque reiciendis modi. Impedit sit maxime nemo et dolore sed, commodi laborum, minus aut laudantium, earum atque?</p>
            </div>
        </div>
    </main>
{% endblock %}