{% extends 'base.html' %}

{% block title %}
    CASE-X - регистрация
{% endblock %}

{% block main %}
    <main class="main">
        <div class="faq_block">
            <h1 class="title_page">Часто задаваемые вопросы</h1>
            <div class="faq">
                <details class="faq_el">
                    <summary class="faq_el_qtn">Как я могу пополнить сайт?</summary>
                    <p class="faq_el_ans">Никак</p>
                </details>
                <details class="faq_el">
                    <summary class="faq_el_qtn">Как я могу пополнить сайт?</summary>
                    <p class="faq_el_ans">Никак</p>
                </details>
                <details class="faq_el">
                    <summary class="faq_el_qtn">Как я могу пополнить сайт?</summary>
                    <p class="faq_el_ans">Никак</p>
                </details>
                <details class="faq_el">
                    <summary class="faq_el_qtn">Как я могу пополнить сайт?</summary>
                    <p class="faq_el_ans">Никак</p>
                </details>
                <details class="faq_el">
                    <summary class="faq_el_qtn">Как я могу пополнить сайт?</summary>
                    <p class="faq_el_ans">Никак</p>
                </details>
            </div>
        </div>
    </main>
{% endblock %}